body {
  margin: 0;
  padding: 0;
  background-color: #f0dcca;
}

/* Navbar styling  */

nav {
  padding-bottom: 60px;
}

nav ul {
  background-color: #f0dcca;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  z-index: 20;
  position: relative;
}

nav li {
  margin: 0 20px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}
li a {
  color: black;
  text-decoration: none;
}
nav li:hover {
  cursor: pointer;
  background-color: #cdc6a5;
}

/* hero styling  */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Limelight', cursive;
  background-color: #f0dcca;
}

.decoration {
  position: relative;
  top: -400px;
  height: 500px;
  z-index: 10;
}

.semi-circle-top {
  background-color: #8d9f87;
  width: 200px;
  height: 100px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  position: relative;
  margin: auto;
  top: 320px;
}

.circle-top {
  border: 10px solid #696d7d;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: 270px;
  z-index: 10;
}
.semi-circle-mid {
  background-color: #cdc6a5;
  width: 600px;
  height: 300px;
  border-bottom-left-radius: 330px;
  border-bottom-right-radius: 330px;
  margin: auto;
  position: relative;
  bottom: -220px;
}
.decoration h1 {
  z-index: 10;
  margin-top: 20px;
  font-size: 5em;
  position: relative;
  top: -30px;
  text-align: center;
}
.decoration h2 {
  font-size: 2em;
  position: relative;
  text-align: center;
  top: -80px;
}
.arc-big {
  width: 400px;
  height: 200px;
  background-color: none;
  border-top-left-radius: 220px;
  border-top-right-radius: 220px;
  border: 10px solid #696d7d;
  border-bottom: 0;
  position: relative;
  margin: auto;
  bottom: 50px;
}
.arc-small {
  width: 300px;
  height: 150px;
  background-color: #f0dcca;
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  border: 10px solid #696d7d;
  border-bottom: 0;
  z-index: 10;
  position: relative;
  bottom: 210px;
  margin: auto;
}
.circle-bottom {
  background-color: #8d9f87;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  bottom: 315px;
  z-index: 10;
  margin: auto;
}

.down {
  display: flex;
  justify-content: center;
}

.down p {
  font-size: 3em;
  color: #696d7d;
}

.fa-chevron-down {
  padding-top: 20px;
  text-align: center;
}

.fa-chevron-down:hover {
  cursor: pointer;
}

/* about me styling */

.about-section {
  background-color: #cdc6a5;
  height: 100vh;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdc6a5;
  padding: 30px;
} 
.box {
  width: 50%;
  height: 500px;
  margin: 0 40px;
}

h2 {
  font-family: 'Limelight', cursive;
  font-size: 3em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

.icons {
  font-size: 5em;
}

.icons i {
  width: 100px;
  margin: 5px auto;
}

.down-project p {
  text-align: center;
  font-size: 3em;
  color: black;
  margin-top: 10px;
  position: relative;
  bottom: -100px;
}

/* project styling */
.projects {
  background-color: #f0dcca;
  padding-top: 10px;
  height: 100vh;
}

.projects h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

/* carousel styling */
.carousel-container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin: 0 auto;
}

.carousel-container img {
  object-fit: contain;
  width: 100%;
  top: 0;
}

.carousel-card {
  padding: 10px 0;
  height: 500px;
  margin: 20px;
  align-items: flex-end;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 
              0 2px 2px rgba(0, 0, 0, 0.1), 
              0 4px 4px rgba(0, 0, 0, 0.1), 
              0 8px 8px rgba(0, 0, 0, 0.1), 
              0 16px 16px rgba(0, 0, 0, 0.1);
  cursor: auto;
}

.carousel-container h4 {
  font-family: 'Limelight', cursive;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.carousel-container p {
  font-size: 1em;
  margin: 0 10px;
}

.carousel-card .links {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.carousel-card a {
  color: black;
}

.down-background p {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: black;
  padding-bottom: 50px;
  margin: 0;
}

/* background  styling */

.background {
  background-color: #696d7d;
  color: #f0dcca;
  padding: 0 40px 80px 40px;
}

hr {
  color: black;
}

.background h2 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

img.ga, img.mhra, img.barclays {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 5px;
}

.job-logos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50px;
  padding: 20px;
  flex-direction: column;
}

.job-info {
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  width: 33%;
}

.heading {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  font-size: 2em;
  font-family: 'Limelight', cursive;
  width: 33%;
}

.down-contact p {
  text-align: center;
  font-size: 3em;
  color:#f0dcca;
  margin: 0;
}

/* contact styling */

.contact {
  background-color: #f0dcca;
  padding: 20px 0;
  height: 100vh;
}

.up {
  display: flex;
  justify-content: center;
}

.up p {
  font-size: 2.7em;
}

.fa-chevron-up {
  margin-bottom: 20px;
  color: #696d7d;
  text-align: center;
  font-size: 20em;
}

.fa-chevron-up:hover {
  cursor: pointer;
}

.contact h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 120px;
}

.contact-info {
  background-color: #8d9f87;
  color: #f0dcca;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin: 0 auto;
}

.contact ul {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 0;
}

.contact a {
  color: #f0dcca;
}

.contact i {
  font-size: 1.2em;
  padding: 10px;
}

.grow {
  transition: all .2s ease-in-out; 
  text-align: center;
}

.grow:hover {
  transform: scale(1.2);
}

/* footer styling  */

footer {
  background-color: #f0dcca;
  text-align: center;
  padding: 20px 0 20px 0;
}

footer p {
  margin: 0;
  font-size: 1.2em;
  font-family: 'Limelight', cursive;
}


@media only screen and (max-width: 900px) {

  .about-section {
    height: 1000px;
  }
  .about {
    flex-direction: column;
  }

  .down-project {
    bottom: 300px;
    position: relative;
  }

  .box {
    width: 80%
  }

  .carousel-container {
    width: 50%;
  }

  .carousel-container img {
    width: 100%;
  }

  .about {
    flex-direction: column;
    height: 1000px;
  }

  .box {
    width: 80%
  }

  .about h2 {
    text-align: center;
  }

  .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .job-info {
    height: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .job-info {
    height: 150px;
  }

  .down-project {
    display: none;
  }
}

@media only screen and (max-width: 575px) {

  /* hero */

  .hero { 
    height: 500px;
  }

  .decoration {
    height: 100px;
  }

  .semi-circle-top {
    width: 150px;
    height: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    top: 200px;
  }

  .circle-top {
    width: 75px;
    height: 75px;
    border: 7px solid #696d7d;
    top: 170px;
  }

  .semi-circle-mid {
    width: 350px;
    height: 175px;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    top: 130px;
  }

  .decoration h1 {
    font-size: 1.7em;
    top: -15px;
  }

  .decoration h2 {
    font-size: 1.3em;
    top: -25px;
  }

  .arc-big {
    width: 250px;
    height: 125px;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    border: 5px solid #696d7d;
    border-bottom: 0;
    bottom: 20px;
  }

  .arc-small {
    width: 150px;
    height: 75px;
    border-top-left-radius: 85px;
    border-top-right-radius: 85px;
    border: 5px solid #696d7d;
    border-bottom: 0;
    bottom: 100px;
  }

  .circle-bottom {
    width: 50px;
    height: 50px;
    bottom: 140px;
  }

  .down p {
    display: none;
  }

  /* about */

  .about-section {
    min-height: 1200px;
  }

  .down-project {
    display: none;
  }

  /* projects */


  .carousel-container {
    width: 100%;
  }

  .carousel-container img {
    width: 100%;
  }

  .carousel-container h4 {
    font-size: 1.2em;
  }

  .carousel-container p {
    font-size: 0.9em;
  }

  .carousel-card {
    height: 500px;
  }

  .down-background {
    display: none;
  }

  /* background */


  .background {
    padding: 0 10px 20px 10px 10px;
  }

  .titles {
    display: none;
  }

  .job-info {
    flex-direction: column;
    padding: 10px;
  }

  .info {
    width: 90%;
  }

  h2 {
    font-size: 2em;
  }
  .job-info {
    font-size: 0.9em;
    height: 125px;
  }

  .info {
    font-size: 1em;
    padding: 5px;
  }

  .heading {
    font-size: 1.3em;
    padding: 0;
    height: 50px;
  }

  .down-contact {
    display: none;
  }

  /* about */

  .bio {
    margin-bottom: 30px;
  }

  .skills {
    margin-top: 30px;
  }

  /* contact  */

  .up {
    display: none;
  }

  .contact {
    margin: 60px 0;
    height: fit-content;
  }

  .contact h2 {
    font-size: 1.2em;
    padding-top: 60px;
  }
  .contact-info {
    width: 300px;
    height: 300px;
  }

  .contact ul {
    font-size: 1.2em;
  }

  .contact i {
    font-size: 1em;
  }

  footer p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
.icons {
  font-size: 4em;
  text-align: center;
}

.down-project p {
  padding: 20px;
  margin: 20px;
}

.carousel-container {
  height: 550px;
}

.bio {
  height: 650px;
  margin-bottom: 20px;
}

.skills {
  height: 600px;
  margin-top: 70px;
}

.about {
  margin-bottom: 0;
  min-height: 1200px;
}

.about-section {
  min-height: 1300px;
}

.nav-big {
  font-size: 0.7em;
}

}

@media only screen and (max-width: 400px) {
  .icons {
    font-size: 3em;
  }

  .icons i {
    width: 50px;
    padding: 10px;
  }

  .bio p {
    font-size: 1.2em;
  }

  .bio {
    margin: 10px;
  }

  .skills {
    margin: 0;
    height: 400px;
  }

  .nav-big {
    font-size: 0.6em;
  }
  
}


@media only screen and (max-width: 325px) {

  /* hero */

  .hero { 
    height: 450px;
  }

  .decoration {
    height: 100px;
  }

  .semi-circle-top {
    width: 100px;
    height: 50px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    top: 270px;
  }

  .circle-top {
    width: 50px;
    height: 50px;
    border: 5px solid #696d7d;
    top: 240px;
  }

  .semi-circle-mid {
    width: 250px;
    height: 125px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    top: 220px;
  }

  .decoration h1 {
    font-size: 1.2em;
    top: 100px;
  }

  .decoration h2 {
    font-size: 1em;
    top: 100px;
  }

  .arc-big {
    width: 200px;
    height: 100px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 5px solid #696d7d;
    border-bottom: 0;
    bottom: -100px;
  }

  .arc-small {
    width: 150px;
    height: 75px;
    border-top-left-radius: 85px;
    border-top-right-radius: 85px;
    border: 5px solid #696d7d;
    border-bottom: 0;
    bottom: -20px;
  }

  .circle-bottom {
    width: 50px;
    height: 50px;
    bottom: 30px;
  }

  /* about */

  .about {
    padding: 10px;
  }

  .box {
    width: 90%;
    /* height: 100px; */
    margin: auto 10px;
  }

  p {
    font-size: 1em;
  }

  .icons {
    font-size: 2.2em;
  }

  .icons i {
    width: 50px;
  }

  .bio h2 {
    margin: 10px;
  }

  .skills {
    height: 300px;
  }

  /* projects */

  .carousel-container {
    width: 100%;
    height: 500px;
  }

  .carousel-container img {
    width: 100%;
  }

  .carousel-container h4 {
    font-size: 1.2em;
  }

  .carousel-container p {
    font-size: 0.9em;
  }

  .carousel-card {
    height: 450px;
  }



  /* background */

  h2 {
    font-size: 1.5em;
  }
  .job-info {
    font-size: 0.7em;
    padding: 5px;
  }

  .titles {
    height:
      20px;
  }

  .info {
    font-size: 1em;
    padding: 5px;
  }

  .heading {
    font-size: 1em;
    padding: 0;
    height: 50px;
  }

  .down-contact {
    font-size: 0.8em;
  }

  /* contact  */

  .contact h2 {
    font-size: 1.2em;
    padding-top: 60px;
  }
  .contact-info {
    width: 250px;
    height: 250px;
  }

  .contact ul {
    font-size: 0.8em;
  }

  .contact i {
    font-size: 0.8em;
  }

  footer p {
    font-size: 1em;
  }
  
}